.testimonials{
    background-color: rgba(255,255,255,.8);
    padding:0 18px 1px 18px;
    margin-bottom: 0;
    @mixin atMedium{
        padding:0 1.815rem 1px 1.815rem;
        
    }
    &--last{
        margin-bottom: 0;  
    }
    &--photo{
        border-radius:80px;
        overflow: hidden;
        width:160px;
        height:160px;
         margin-left:auto;
         margin-right:auto;
        position: relative;
        top:-80px;
        border:6px solid rgba(255,255,255,.8);
    }
    &--title{
     text-align: center;
     color:$mainBlue;
     margin:0;
    }
    &--subtitle{
        text-align: center;
        color:$mainOrange;
        font-weight:400;
        font-size:0.9375rem;
        margin:.25rem 0 1rem 0;

    }
}